<div class="projects__project">
    <div class="project__info">
        <div>
            <h3 class="sec-title">Daily Weather</h3>
            <div class="tags">
                <span class="tag">Single page app</span>
            </div>
        </div>
        <p class="paragraph">Daily weaher is a simple and responsive weather forcast app that uses user input to display data from the Open Weather Map Api asynchronously.</p>
        <div class="btn-container">
            <a href="https://github.com/Abdallah01win/Daily-Weather" target="_blank" rel="noopener noreferrer"
                class="btn-mid">View Code &lt;/&gt;</a>
            <a href="https://daily-weather-abdo.netlify.app/" target="_blank" rel="noopener noreferrer"
                class="btn-mid">Preview Live</a>
        </div>

        <ul class="tech-stack">
            <li>
                <ion-icon name="logo-html5"></ion-icon>
            </li>
            <li>
                <ion-icon name="logo-sass"></ion-icon>
            </li>
            <li>
                <ion-icon name="logo-javascript"></ion-icon>
            </li>
        </ul>
    </div>
    <div class="project__img">
        <img src="/assets/daily-weather-home.png" alt="">
    </div>
</div>