<nav class="nav">
    <div class="logo">
        Abdallah
    </div>
    <ul class="nav__links">
        <li>Projects</li>
        <li>About Me</li>
        <li>Contact</li>
    </ul>
    <a class="highlight--js">Let's Talk</a>
</nav>