<nav class="nav" id="nav">
    <div class="logo">
        Abdallah
    </div>
    <ul class="nav__links">
        <li>Projects</li>
        <li>About Me</li>
        <li>Contact</li>
    </ul>
    <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJZZzpSCwdCDCHxXrSpnLsfwWLKSPdQBdmwjNZrQBsmCShchMqzRMrhqMMhgLsrjwkPdVcg" class="highlight highlight__js" target="_blank" rel="noopener noreferrer">Let's Get in Touch</a>
</nav>