<div class="projects__project">
    <div class="project__img">
        <img src="/assets/norway-tours-phone.png" alt="">
    </div>
    <div class="project__info">
        <div>
            <h3 class="sec-title">Norway Tours</h3>
            <div class="tags">
                <span class="tag">Dynamic website</span>
            </div>
        </div>
        <p class="project__info--details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
        <div class="btn-container">
            <a href="/project" class="btn-mid">View Code &lt;/&gt;</a>
            <a class="btn-mid">Preview Live</a>
        </div>

        <ul class="tech-stack">
            <li class="">
                <img class="ejs" src="/assets/Daco_5432188.png" alt="">
            </li>
            <li>
                <ion-icon name="logo-sass"></ion-icon>
            </li>
            <li>
                <ion-icon name="logo-javascript"></ion-icon>
            </li>
            <li class="place-center">
                <img src="/assets/expressjs.svg" alt="">
            </li>
        </ul>
    </div>
</div>