<div class="projects__project" id="norway-tours">
    <div class="project__img">
        <img src="/assets/norway-tours-phone.png" alt="">
    </div>
    <div class="project__info">
        <div>
            <h3 class="sec-title">Norway Tours</h3>
            <div class="tags">
                <span class="tag">Dynamic website</span>
            </div>
        </div>
        <p class="paragraph">Is a tour agancy website built using EJS to render data into dynamic templets and components which provies minimal and easly maintained code.</p>
        <div class="btn-container">
            <a href="https://github.com/Abdallah01win/Norway-tours" target="_blank" rel="noopener noreferrer" class="btn-mid">View Code &lt;/&gt;</a>
            <a href="https://norway-tours.herokuapp.com" target="_blank" rel="noopener noreferrer" class="btn-mid">Preview Live</a>
        </div>

        <ul class="tech-stack">
            <li class="">
                <img class="ejs" src="/assets/Daco_5432188.png" alt="">
            </li>
            <li>
                <ion-icon name="logo-sass"></ion-icon>
            </li>
            <li>
                <ion-icon name="logo-javascript"></ion-icon>
            </li>
            <li class="place-center">
                <img src="/assets/expressjs.svg" alt="">
            </li>
        </ul>
    </div>
</div>