<!DOCTYPE html>
<html lang="en">
<%- include("./components/head") %>

<body>
    <main class="main">
        <nav class="nav">
            <div class="logo">
                AB
            </div>
            <ul class="nav__links">
                <li>Contact</li>
                <li>About Me</li>
                <li>resume</li>
            </ul>
            <a class="btn">Let's Talk</a>
        </nav>

        <div class="hero">
            <div class="hero__text">
                <div class="preTitle">
                    <hr>
                    Abdallah Bari
                </div>
                <h1>
                    Hi, My name is <span>Abdallah</span> and I'm a <span>Web Developer!</span> 
                </h1>
                <p>
                    I'm a web developer who creates amazing<br> web applications and sites.
                </p>
                <div class="hero__buttons">
                    <a class="btn">Download Resume &#8595</a>
                    <a class="btn highlight">Let's Get in Touch</a>
                </div>
            </div>
            <div class="hero__img">
                <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
            </div>
        </div>
        <section class="projects">
            <div class="preTitle">
                <hr>
                My Projects
            </div>
            <h2 class="title">Some of My Works</h2>
            <div class="projects__project">
                <div class="project__info">
                    <div>
                        <h3 class="title--secondary">Great Reads</h3>
                        <div class="tags">
                            <span class="tag">EJS</span>
                            <span class="tag">SASS</span>
                            <span class="tag highlight">JavaScript</span>
                            <span class="tag">Express</span>
                            <span class="tag">FireBase</span>
                        </div>
                    </div>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
                    <div class="project__info--buttons">
                        <a href="" class="btn">View Code</a>
                        <a href="" class="btn">Preview Live</a>
                    </div>
                </div>
                <div class="project__img">
                    <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
                </div>
            </div>
            <div class="projects__project">
                <div class="project__img">
                    <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
                </div>
                <div class="project__info">
                    <div>
                        <h3 class="title--secondary">Norway Tours</h3>
                        <div class="tags">
                            <span class="tag">EJS</span>
                            <span class="tag">SASS</span>
                            <span class="tag highlight">JavaScript</span>
                            <span class="tag">Express</span>
                        </div>
                    </div>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
                    <div class="project__info--buttons">
                        <a href="" class="btn">View Code</a>
                        <a href="" class="btn">Preview Live</a>
                    </div>
                </div>                
            </div>
            <div class="projects__project">
                <div class="project__info">
                    <div>
                        <h3 class="title--secondary">Great Reads</h3>
                        <div class="tags">
                            <span class="tag">HTML</span>
                            <span class="tag">SASS</span>
                            <span class="tag highlight">JavaScript</span>
                        </div>
                    </div>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
                    <div class="project__info--buttons">
                        <a href="" class="btn">View Code</a>
                        <a href="" class="btn">Preview Live</a>
                    </div>
                </div>
                <div class="project__img">
                    <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
                </div>
            </div>
        </section>
    </main>

</body>

</html>