<!DOCTYPE html>
<html lang="en">
<%- include("./components/head") %>

<body>
    <main class="main">
        <%- include('./components/navigation') %> 
        <div class="hero">
            <div class="hero__text">
                <div class="preTitle">
                    <hr>
                    Abdallah Bari
                </div>
                <h1>
                    Hi, My name is <span>Abdallah</span> and I'm a <span>Web Developer!</span> 
                </h1>
                <p>
                    I'm a web developer who creates amazing<br> web applications and sites.
                </p>
                <div class="btn-container">
                    <a class="btn">Download Resume &#8595</a>
                    <a class="btn highlight highlight--js">Let's Get in Touch</a>
                </div>
            </div>
            <div class="hero__img">
                <img src="/assets/pixeltrue-icons-web-design-planning-1.svg" alt="">
            </div>
            <div class="external-links">
                <ul>
                    <li><ion-icon name="logo-github"></ion-icon></li>
                    <li><ion-icon name="logo-linkedin"></ion-icon></li>
                    <li>
                        <ion-icon name="logo-codepen"></ion-icon>
                    </li>
                    <li><ion-icon name="logo-twitter"></ion-icon></li>
                    <div class="line"></div>
                </ul>
            </div>
        </div>
        <section class="projects">
            <div class="preTitle">
                <hr>
                My Projects
            </div>
            <h2 class="title">Some of My Works</h2>
            <div class="projects__project">
                <div class="project__info">
                    <div>
                        <h3 class="sec-title">Great Reads</h3>
                        <div class="tags">
                            <span class="tag">Multy page app</span>
                        </div>
                    </div>
                    <p class="project__info--details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
                    <div class="btn-container">
                        <a href="" class="btn-mid">View Code &lt;/&gt;</a>
                        <a href="" class="btn-mid">Preview Live</a>
                    </div>
                </div>
                <div class="project__img">
                    <img src="/assets/great-reads-abdo.herokuapp.png" alt="">
                </div>
            </div>
            <div class="projects__project">
                <div class="project__img">
                    <img src="/assets/norway-tours-home.png" alt="">
                </div>
                <div class="project__info">
                    <div>
                        <h3 class="title--secondary">Norway Tours</h3>
                        <!-- <div class="tags">
                            <span class="tag highlight--ejs">EJS</span>
                            <span class="tag highlight--sass">SASS</span>
                            <span class="tag highlight--js">JavaScript</span>
                            <span class="tag highlight--express">Express</span>
                        </div> -->
                    </div>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
                    <div class="btn-container">
                        <a href="" class="btn">View Code</a>
                        <a href="" class="btn">Preview Live</a>
                    </div>
                </div>                
            </div>
            <div class="projects__project">
                <div class="project__info">
                    <div>
                        <h3 class="title--secondary">Great Reads</h3>
                        <!-- <div class="tags">
                            <span class="tag highlight--html">HTML</span>
                            <span class="tag highlight--sass">SASS</span>
                            <span class="tag highlight--js">JavaScript</span>
                        </div> -->
                    </div>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ad excepturi, neque in, ea totam quasi esse perspiciatis earum porro consequatur sint!</p>
                    <div class="btn-container">
                        <a href="" class="btn">View Code</a>
                        <a href="" class="btn">Preview Live</a>
                    </div>
                </div>
                <div class="project__img">
                    <img src="/assets/daily-weather-home.png" alt="">
                </div>
            </div>
        </section>

        <section class="skills">
            <div class="preTitle">
                <hr>
                Skills
            </div>
            <h2 class="title">Technologies I use</h2>
            <div class="skills__container">
                <ul class="flex-wrap-container">
                    <li>
                        <ion-icon name="logo-html5"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-css3"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-sass"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-javascript"></ion-icon>
                    </li>
                    <li>
                        <ion-icon name="logo-nodejs"></ion-icon>
                    </li>
                    <li class="place-center">
                        <img src="/assets/expressjs.svg" alt="">
                    </li>
                    <!-- <li class="">
                        <img src="/assets/Daco_5432188.png" alt="">
                    </li> -->
                    <li>
                        <ion-icon name="logo-firebase"></ion-icon>
                    </li>
                </ul>
            </div>
        </section>
    </main>
<%- include("./components/scripts") %> 
</body>

</html>