*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul, ol{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}
html{
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    background: #f7f7f7;;
}

// logos colors

// EJS #a91e50
// sass #e88bb7
// express #cd7871
// firebase #ffcc00 #f88600 #ffa700
// html #e44d25