@mixin brush-bg($path) {
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    padding: 8px 0;
}

@mixin btn($p-top, $p-bot, $font, $f-waight) {
    font-size: $font;
    font-weight: $f-waight;
    padding: $p-top $p-bot ;
    border: solid 1px black;
    display: inline-block;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 5000px;
    overflow: hidden;
    position: relative;
    &:active{
        transform: scale(0.9);
    }
}